In [7]:
import pandas as pd
data=pd.read_csv("C:\\Users\\payal patil\\Desktop\\MovieDataset.csv")

In [8]:
data

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

Exploratrory Data Analysis

In [9]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [10]:
data.head(10)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
5,667257,Impossible Things,"Family,Drama",es,"Matilde is a woman who, after the death of her...",14.358,2021-06-17,8.6,255
6,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093
7,730154,Your Eyes Tell,"Romance,Drama",ja,"A tragic accident lead to Kaori's blindness, b...",51.345,2020-10-23,8.5,339
8,372754,Dou kyu sei – Classmates,"Romance,Animation",ja,"Rihito Sajo, an honor student with a perfect s...",14.285,2016-02-20,8.5,239
9,372058,Your Name.,"Romance,Animation,Drama",ja,High schoolers Mitsuha and Taki are complete s...,158.270,2016-08-26,8.5,8895

In [11]:
data.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.3+ KB

In [13]:
data.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [14]:
data.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [19]:
movie=data[['id','title','genre','overview']]
movie.head()

,id,title,genre,overview
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...

In [20]:
movie['tags']= movie['overview']+movie['genre']
movie

C:\Users\payal patil\AppData\Local\Temp\ipykernel_2864\1826633735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags']= movie['overview']+movie['genre']

,id,title,genre,overview,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance","Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...
...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...","The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",The sharks take bite out of the East Coast whe...,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"Action,Science Fiction,War","During World War II, a brave, patriotic Americ...","During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,"Thriller,Action,Crime",Seeking justice for his partner’s murder by an...,Seeking justice for his partner’s murder by an...

In [21]:
new_data=movie.drop(columns=['overview','genre'])
new_data

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [24]:
pip install scikit_learn

Requirement already satisfied: scikit_learn in c:\users\payal patil\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\payal patil\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\payal patil\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\payal patil\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\payal patil\appdata\local\programs\python\python312\lib\site-packages (from scikit_learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 26.0
[notice] To update, run: C:\Users\payal patil\AppData\Local\Programs\Python\Python312\python.exe -m pip install --upgrade pip

In [25]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
cv=CountVectorizer(max_features=10000,stop_words='english')
cv

CountVectorizer(max_features=10000, stop_words='english')

In [28]:
vector=cv.fit_transform(new_data['tags'].values.astype('U')).toarray()

In [29]:
vector.shape

(10000, 10000)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
similarity=cosine_similarity(vector)
similarity

array([[1.        , 0.05634362, 0.13041013, ..., 0.07559289, 0.11065667,
        0.06900656],
       [0.05634362, 1.        , 0.07715167, ..., 0.        , 0.03636965,
        0.        ],
       [0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
        0.09449112],
       ...,
       [0.07559289, 0.        , 0.02300219, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.11065667, 0.03636965, 0.0673435 , ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06900656, 0.        , 0.09449112, ..., 0.03042903, 0.04454354,
        1.        ]])

In [34]:
new_data=pd.DataFrame(movie.drop(columns=['overview','genre']))

In [35]:
type(new_data)

pandas.core.frame.DataFrame

In [36]:
new_data[new_data['title']=="The Godfather"].index[0]

np.int64(2)

In [37]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10000 non-null  int64
 1   title   10000 non-null  object
 2   tags    9985 non-null   object
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [38]:
similarity[2]

array([0.13041013, 0.07715167, 1.        , ..., 0.02300219, 0.0673435 ,
       0.09449112])

In [39]:
distance = sorted(list(enumerate(similarity[2])), key=lambda vector: vector[1], reverse=True)
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [41]:
def recommand(movie):
    # Find the index/position of the input movie in our dataset
    index = new_data[new_data['title'] == movie].index[0]
    
    # Create a sorted list of (movie_index, similarity_score) tuples
    # sorted from most similar to least similar
    distance = sorted(
        enumerate(similarity[index]),  # Add indices to similarity scores
        key=lambda vector: vector[1],   # Sort by similarity score (2nd element)
        reverse=True                     # Highest similarity first
    )
    
    # Print top 5 similar movies (skip index 0 as it's the input movie itself)
    for i in distance[1:6]:
        print(new_data.iloc[i[0]].title)  # Get and print movie title

In [42]:
recommand("Iron Man")

Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith
Iron Man 2

In [43]:
import pickle

In [44]:
pickle.dump(new_data,open('movie_list.pkl','wb'))

In [45]:
pickle.dump('similarity',open('similarity.pkl','wb'))

In [47]:
pickle.load(open('movie_list.pkl',"rb"))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...

In [48]:
# Test with various movies and manually check if recommendations make sense
test_movies = ['Iron Man', 'The Godfather', 'Titanic', 'Toy Story', 'The Dark Knight']

for movie in test_movies:
    print(f"\nRecommendations for: {movie}")
    print("-" * 50)
    recommand(movie)

Recommendations for: Iron Man
--------------------------------------------------
Iron Man 3
Guardians of the Galaxy Vol. 2
Avengers: Age of Ultron
Star Wars: Episode III - Revenge of the Sith
Iron Man 2

Recommendations for: The Godfather
--------------------------------------------------
The Godfather: Part II
Blood Ties
Joker
Bomb City
Gotti

Recommendations for: Titanic
--------------------------------------------------
The Legend of 1900
Standing Tall
Nowhere Boy
The Boxer
The Notebook

Recommendations for: Toy Story
--------------------------------------------------
Toy Story 3
Toy Story 2
Toy Story 4
Buzz Lightyear of Star Command: The Adventure Begins
The 40 Year Old Virgin

Recommendations for: The Dark Knight
--------------------------------------------------
Batman: The Long Halloween, Part Two
The Dark Knight Rises
Batman: The Long Halloween, Part One
Ricochet
Batman: The Killing Joke

In [49]:
def evaluate_genre_overlap(movie_title, top_n=5):
    """
    Calculates what percentage of recommended movies share at least one genre 
    with the input movie
    """
    # Get the input movie's index
    index = new_data[new_data['title'] == movie_title].index[0]
    
    # Get input movie's genres from the original data
    input_genres = set(data.iloc[index]['genre'].split(','))
    
    # Get top N recommendations
    distance = sorted(enumerate(similarity[index]), key=lambda x: x[1], reverse=True)
    
    # Count how many recommendations share genres
    genre_matches = 0
    print(f"\nEvaluating recommendations for: {movie_title}")
    print(f"Input movie genres: {input_genres}\n")
    
    for i in distance[1:top_n+1]:
        rec_title = new_data.iloc[i[0]]['title']
        rec_genres = set(data.iloc[i[0]]['genre'].split(','))
        overlap = input_genres & rec_genres
        
        if overlap:
            genre_matches += 1
            print(f"✓ {rec_title} - Shared: {overlap}")
        else:
            print(f"✗ {rec_title} - No overlap")
    
    score = (genre_matches / top_n) * 100
    print(f"\nGenre Overlap Score: {score}%")
    return score

# Test it
evaluate_genre_overlap('Iron Man')
evaluate_genre_overlap('The Godfather')
evaluate_genre_overlap('Titanic')

Evaluating recommendations for: Iron Man
Input movie genres: {'Action', 'Science Fiction', 'Adventure'}

✓ Iron Man 3 - Shared: {'Action', 'Science Fiction', 'Adventure'}
✓ Guardians of the Galaxy Vol. 2 - Shared: {'Action', 'Science Fiction', 'Adventure'}
✓ Avengers: Age of Ultron - Shared: {'Action', 'Science Fiction', 'Adventure'}
✓ Star Wars: Episode III - Revenge of the Sith - Shared: {'Action', 'Science Fiction', 'Adventure'}
✓ Iron Man 2 - Shared: {'Action', 'Science Fiction', 'Adventure'}

Genre Overlap Score: 100.0%

Evaluating recommendations for: The Godfather
Input movie genres: {'Crime', 'Drama'}

✓ The Godfather: Part II - Shared: {'Crime', 'Drama'}
✓ Blood Ties - Shared: {'Crime', 'Drama'}
✓ Joker - Shared: {'Crime', 'Drama'}
✓ Bomb City - Shared: {'Crime', 'Drama'}
✓ Gotti - Shared: {'Crime', 'Drama'}

Genre Overlap Score: 100.0%

Evaluating recommendations for: Titanic
Input movie genres: {'Romance', 'Drama'}

✓ The Legend of 1900 - Shared: {'Romance', 'Drama'}
✓ Standing Tall - Shared: {'Drama'}
✓ Nowhere Boy - Shared: {'Drama'}
✓ The Boxer - Shared: {'Romance', 'Drama'}
✓ The Notebook - Shared: {'Romance', 'Drama'}

Genre Overlap Score: 100.0%

100.0